<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         cacheResultFile="runtime/phpunit/result.cache"
         bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         backupStaticProperties="false"
>
    <coverage>
        <include>
            <directory>src/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Cycle ORM Annotated Entities">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
